__pycache__/
*.py[cod]
*$py.class
dist/
build/
*.egg-info/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.ipynb_checkpoints
venv/
env/
ENV/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
.dockerignore
*.csv